body{
  font-family: monospace;
  font-size: 46px;
  background: cyan;
  color: black
  text-align: centre;
  margin-left: 40px;
}

@media only screen and (max-width: 600px) {

body{
   background-color: #ffffff;
  }
}
.myname{
  font-family: fantasy;;
  padding-top: 13px;
  padding-bottom: 13px;
  color: #3524;
  background-color: #yellow;
  width:100px;
}
